#Welkom {

    font-family: 'Times New Roman', Times, serif;
    color: rgb(233, 17, 215);
    text-align: center;
    font-size: 50px;
}

body {
    background-color: plum;
    background-image: url(../pictures/background.jpg)
}

/* img {
    align-content: center;
} */

#einde {
    text-align: center;
    text-decoration: none;
}

#application {
    text-align: center;
    border: 1px black;
    
}

#redenen{
text-align: center;
border: 1px black;
}
#archief{
    text-align: center;
    border: 1px black;
}

#HOME{
    text-align: center;
    border: 1px black;
}

button {
    padding: 10px;
    background-color: plum;
    border-radius: 100px;
    font-size: 25px;
    font-family:'Cute Font' ;
    
    
}
a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#gewoneKnop{
    text-decoration: none;
    background-color: white;
    font-size:medium ;
    border-radius: 0;
}