body {
    background-image: url(../Pictures_Archief/5120x2880-light-pink-solid-color-background.jpg);
    margin-top: 200px;
    
}

button {
    padding: 10px;
    background-color: plum;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Cute Font';
    
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#HOME {
    text-align: center;
    border: 1px black;
}

#Afrika_titel {
    text-align: center;
    font-family: 'Cute Font';
    font-size: 70px;
    color: blueviolet;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    overflow: hidden;
    z-index: 1000;
    background-color: #fcb4c4;
    margin: -0px;


}

img {
    height: 525px;
    border: solid, blueviolet;
    border-width: 10px;
}